<div class="editListP row">


    <div class="contents col-md-2">
      <div class="titleRow" >
        <div>contetn items</div>
        <div class="plusContainer" ng-click="createNewContent()"  >
          <div>
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </div>


      <ul >
        <li ng-repeat="(contentId, content) in contents" ng-class="{selected:content.id === currentContet.id}" ng-click="loadContent(content)">

          <div>
            {{content.name}}
          </div>

        </li>
      </ul>
    </div>

    <div class="player col-md-10" ng-if="currentContet || newContent">

<div>
      <form class="form-horizontal" ng-submit="saveNewContent()"" >
        <div class="form-group">
          <label for="list-name" class="col-sm-2 control-label">Content Name</label>
          <div class="col-sm-10">
            <input type="text" ng-model="currentContet.name" class="form-control" id="list-name" placeholder="Contet Name">
          </div>
        </div>
        <div class="form-group">
          <label for="list-description" class="col-sm-2 control-label">Content Description</label>
          <div class="col-sm-10">
            <textarea class="form-control" ng-model="currentContet.description" id="list-description" placeholder="Contet Description"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="list-description" class="col-sm-2 control-label">Content Url</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="currentContet.contentUrl" id="list-description" placeholder="Contet Url">
          </div>
        </div>
        <div class="form-group">
          <label for="list-description" class="col-sm-2 control-label">Start Time (second)</label>
          <div class="col-sm-2">
            <input type="number" min="0" class="form-control" ng-model="currentContet.startTime" id="list-description" placeholder="Start Time">
          </div>
          <label for="list-description" class="col-sm-2 control-label">Ende Time (second)</label>
          <div class="col-sm-2">
            <input type="number" min="0" class="form-control" ng-model="currentContet.endTime" id="list-description" placeholder="End Time">
          </div>
        </div>
        <div class="buttons">
          <button type="submit" class="btn btn-primary">{{currentContet.id ? 'Save' : 'Create'}}</button>
        </div>
      </form>
    </div>
    <div ng-show="!newContent">
      <div class="col-sm-2">
      </div>
      <div class="playerWraper col-sm-10">
      <div id="player">
      </div>
</div>
      </div>

  </div>




</div>
